* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    background-color: #808080
  }
  
  header {
    padding: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
  }

  header h1 {
    display: inline-block;
    font-size: 48px;
  }

  header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
    font-size: 20px;
  }

  header nav ul {
    list-style-type: none;
  }

  header nav ul li {
    display: inline-block;
    margin-left: 25px;
  }

  header nav ul li a {
    color: white;
    text-decoration: solid;
  }

  section {
    display: flex;
    flex-wrap: wrap;
  }

  .about-me {
    background-color: aliceblue;
    color:#000000;
  } 

  .about-me img {
    max-height: 400px;
    padding: 20px;
    border-radius: 30px;
  }

  .about-me h2 {
    padding: 20px;
    padding-top: 170px;
    width: 10%; 
    font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
    background-color: lightblue;
    text-align: center;
  }

  .about-me p {
    width: 60%;
    border-radius: 50px;
    /* margin-top: 65px; */
    padding: 20px;
    padding-top: 60px;
  }
    
    
    
    /*margin-bottom: 10px;
    margin-top: 150px;
    text-align: left;
    padding: 10px;
    position: relative;
    bottom: 10px;
    border-radius: 10px; 
    background-color: lightblue;
    width: 60%; 
    height: 10%;
  }*/
  
  h2 {  
    font-size: 30px;
  }

  .work h2 {
    padding: 20px;
    padding-top: 170px;
    padding-bottom: 170px;  
    width: 10%; 
    font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
    background-color: lightcyan;
    text-align: center;
  }

  div {
    width: 30%;
    height: 500px;
    margin: 20px;
    border-radius: 10px;
  }

  .horiseon {
    width: 60%;
    height: 500px;
    margin: 40px;
    background-color: antiquewhite;
  }

  .horiseon h3 {
    position: relative;
    top: 50px;
  }
  